/* Full-screen container for centering the join room box */
.room_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001f3f;
    background-size: cover;
    background-position: center;
  }
  
  /* Join Room container with gradient styling */
  .join-room-container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1), 0px 8px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(22, 17, 48, 0.6), rgba(22, 17, 48, 0.2));
    border-width: 5px;
    
    border-style: solid;
    border-image: linear-gradient(
      to bottom,
      rgba(0, 128, 0, 0.8) 0%,
      rgba(0, 128, 0, 0.8) 20%,
      purple 100%
    ) 1;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .join-room-container h2 {
    margin-bottom: 20px;
    color: #f5e8c7; /* Light gold/cream */
  }
  
  .join-room-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #dfe4e9; /* Light text color */
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #001f3f; /* Dark blue */
    border-radius: 5px;
    background-color: rgba(22, 16, 53, 0.6);
    color: #dee5ed; /* Light text */
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    border-color: #007bff; /* Bright blue */
  }
  
  .join-room-button {
    padding: 12px 20px;
    font-size: 16px;
    color: #001f3f; /* Dark blue */
    background-color: #f5e8c7; /* Light gold/cream */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .join-room-button:hover {
    background-color: white;
    color: #001f3f; /* Dark blue */
  }
  
  .error-message {
    margin-top: 15px;
    color: red;
    font-size: 14px;
  }
  