/* Main container with background image */
.add_product_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/herobg.png');
  background-size: cover;
  background-position: center;
  padding: 40px 20px 20px;
  position: relative;
}



/* Left section for image upload */
.image_upload_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Add spacing between image and form fields */
}

.image_preview {
  width: 250px;
  height: 250px;
  border: 2px solid #dee5ed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dee5ed;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-right: 20px;
}

/* Add space between Choose File and No file chosen text */
.upload_btn {
  padding: 20px;
  background-color: rgba(22, 16, 53, 0.6);
  color: #dfe4e9;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Adds space below Choose File button */
  margin-right: 20px; /* Adds space between Choose File and No file chosen */
}


.upload_btn:hover {
  background-color: white;
  color: #001f3f;
}

/* Right section for input fields and submit button */
.input_fields_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.input {
  outline: none;
  border: 2px solid #001f3f; /* Dark blue */
  width: 100%; /* Full width of right section */
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #dee5ed;
  background-color: rgba(22, 16, 53, 0.6);
  margin-bottom: 15px; /* Space between input fields */
}

/* Submit button */
.submit_btn {
  padding: 12px 20px;
  background-color: #f5e8c7;
  color: #001f3f;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submit_btn:hover {
  background-color: white;
  color: #001f3f;
}
/* Form container with additional top padding */
.form_container {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 20px 20px; /* Add padding to the top to make space for the heading */
  border-radius: 10px;
  background: rgba(22, 17, 48, 0.6);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1), 0px 8px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 128, 0, 0.8);
  position: relative; /* Allows positioning of the heading inside the form container */
}

/* Positioning the header inside the form box */
.header {
  position: absolute;
  top:10%;/* Adjust based on how far above the form box you want it */
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  color: #ffffff;
  background: rgba(22, 17, 48, 0.8); /* Slight background for better visibility */
  padding: 5px 15px;
  border-radius: 8px;
}